* {
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.menuHide {
	display: none;
}

.hide {
	display: none;
}

html {
	background: rgb(52,232,158);
background: linear-gradient(125deg, rgba(52,232,158,1) 0%, rgba(35,152,104,1) 50%, rgba(52,232,158,1) 100%);
	min-width: 100vw;
	min-height: 100vh;
}

nav {
	width: 100%;
	background: #FFD200;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 2px 2px 5px grey;
	padding: 2%;
}

#hamburger {
	width: 95%;
	text-align: right;
	font-size: 2em;
	padding: 2%;
	color: #fff;
}

#mainNav {
	display: flex;
	flex-wrap: wrap;
}

#mainNav li {
	width: 100%;
	text-align: center;
}

#mainNav li a {
	font-size: 1.5em;
	color: #fff;
}

#welcome {
	margin: 2%;
	text-align: center;
	font-size: 1.5em;
	color: rgb(255, 254, 214);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#welcome h1 {
	margin: 2%;
}

#welcome button {
	max-width: 75%;
	padding: 2%;
	font-size: 1.15em;
	background: #FFD200;
	border-radius: 10px;
	color: #404040;
	margin: 5%;
}

#welcome > img {
	width: 80%;
	height: auto;
}

#badgeContain {
	padding: 5%;
}

#badges {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.badgeImage {
	max-width: 40%;
	height: auto;
	margin: 1%;
}

#badgeInfo {
	background: #fff;
	margin: 5% 0 10% 0;
	color: #424242;
}

#badgeInfo h3 {
	text-align: center;
	padding: 5%;
}

#badgeInfo img {
	width: 80%;
	height: auto;
	margin: 0 10%;
}

#badgeInfo p {
	width: 90%;
	margin: 5%;
}

.taskInfo {
	padding: 2%;
	background: rgba(252, 227, 106, 0.5);
	margin: 2%;
}

#des {
background-image: linear-gradient( 109.6deg,  rgba(255,24,134,1) 11.2%, rgba(252,232,68,1) 52%, rgba(53,178,239,1) 100.2% );
padding: 2.5%;
color: #fff;
}

#des p {
	background: #fff;
	color: #424242;
	padding: 1%;
}

.badgeTask {
	background: #FFD200;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 2px 2px 5px grey;
	padding: 2%;
	margin: 1%	;
	text-align: center;
	font-weight: bold;
}

.badgeTask h3 {
	font-size: 1.1em;
}

.taskImage {
	max-width: 100%;
}

.beatv-task-buttons {
	width: 100%;
	font-size: 1.2em;
	font-weight: bold;
	background: #bea;
	padding: 2%;
}

input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
}

#complete {
	border: 1px solid #424242;
	padding: 2%;
	width: 90%;
	margin: 3%;
	background: rgba(252, 227, 106, 0.5);
}

#complete h3 {
	background: #fff;
}

#complete p {
	font-size: 1.1em;
	background: #fff;
	padding: 2%;
}

#complete button {
	width: 100%;
	font-size: 1.1em;
	background: rgba(35,152,104,1);
	color: #fff;
}

#redeem {
background-image: linear-gradient( 109.6deg,  rgba(255,24,134,1) 11.2%, rgba(252,232,68,1) 52%, rgba(53,178,239,1) 100.2% );
padding: 5%;
margin: 0 0 5% 0;
}


/* Resize YouTube Videos*/
.youTube-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.youTube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}